.platypus{
  position:absolute;
  top:60px;
  left:600px;
  color: white;
  cursor:pointer;
  background:transparent;
  transform: scale(2);
  -webkit-transform: scale(2);
}
.platypus div{
    position:absolute;
    height:20px;
    width:20px;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    line-height:1;
    font-size: 16px;
    background:transparent;
    border: none;
}
.platypus.standing .why{
    transform: translate(10px, -20px) scale(2);
    -webkit-transform: translate(10px, -20px) scale(2);
}
.platypus.standing .pi{
    transform: translate(12px, 4px) rotate(90deg);
    -webkit-transform: translate(12px, 4px) rotate(90deg);
}
.platypus.standing .omega{
    transform: scale(1.5, 1.25) translateX(2px);
    -webkit-transform: scale(1.5, 1.25) translateX(2px);
}
.platypus.standing .phi{
    transform: scale(2, 2.5) translate(2px, 10px);
    -webkit-transform: scale(2, 2.5) translate(2px, 10px);
}
.platypus.standing .alpha{
    transform: scale(3, 1.25) translate(-3px, 23px);
    -webkit-transform: scale(3, 1.25) translate(-3px, 23px);
}
.platypus.standing .eta{
    transform: translate(17px, 38px) scale(1.75, 1.5) rotate(90deg);
    -webkit-transform: translate(17px, 38px) scale(1.75, 1.5) rotate(90deg);
}

.platypus.walking .why{
    transform: translate(35px, -24px) scale(1.5);
    -webkit-transform: translate(35px, -24px) scale(1.5);
}
.platypus.walking .pi{
    transform: translate(36px, -1px) rotate(90deg);
    -webkit-transform: translate(36px, -1px) rotate(90deg);
}
.platypus.walking .omega{
    transform: translate(22px, -2px) rotate(90deg) scale(1.5, 1.25);
    -webkit-transform: translate(22px, -2px) rotate(90deg) scale(1.5, 1.25);
}
.platypus.walking .phi{
    transform: rotate(90deg) scale(2, 2.5);
    -webkit-transform: rotate(90deg) scale(2, 2.5);
}
.platypus.walking .alpha{
    transform: translate(-10px, -5px) scale(3, 1.25);
    -webkit-transform: translate(-10px, -5px) scale(3, 1.25);
}
.platypus.walking .eta.front{
    transform: translate(16px, 13px) scale(1.25, 1) rotate(90deg);
    -webkit-transform: translate(16px, 13px) scale(1.25, 1) rotate(90deg);
}
.platypus.walking .eta.back{
    transform: translate(-10px, 13px) scale(1.25, 1) rotate(90deg);
    -webkit-transform: translate(-10px, 13px) scale(1.25, 1) rotate(90deg);
}